<%= wicked_pdf_stylesheet_link_tag "pdf_styles" %>
<h1>Profile</h1>
<section>
  <h1>Introduction</h1>
  <p class="mentor-intro">
    <%= mentor.bio %>
  </p>

</section>
<section>
  <p>
    <span>Specialization</span>
    <%= mentor.specialization %>
  </p>
  <p>
    <span>experience_years</span>
    <%= mentor.experience_years %>
  </p>
  <p>
    <span>Specialization</span>
    <%= mentor.specialization %>
  </p>
  <p>
    <span>Skills</span>
    <%= mentor.skills %>
  </p>
</section>
